@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
  margin: 0;
  font-family: "Poppins";
  background-color: #e6eef5;
  color: #061b25;
  padding: 0 2em;
}

ul, li {
  padding: 0;
  list-style-type: none;
}

.grid-container {
    display: block;
}

header {
    border-bottom: 1px solid #a7b6bd;
    text-align: center;
    color: #167aa8;
}

nav {
    border-bottom: 1px solid #a7b6bd;
}

nav p {
    color: #093d55;
}

nav li {
    display: inline-block;
    text-decoration: underline;
    padding: 0 .25em;
    font-size: .75rem;
}

nav li:hover {
    color: #167aa8;
    cursor: pointer;
}

article {
    width: 100%;
    border-bottom: 1px solid #a7b6bd;
}

article h2 {
    color: #093d55;
}

article img {
    width: 100%;
}

footer {
    border-top: 1px solid #a7b6bd;
    text-align: center;
}

@media screen and (min-width: 760px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        gap: 2rem;
    }

    nav {
        grid-column: span 4;
    }

    article {
        grid-column: span 2;
        border-bottom: none;
    }
}

@media screen and (min-width: 980px) {
    nav {
        grid-column: span 1;
        margin-top: 1rem;
    }

    nav li {
        display: block;
        padding: .5em;
    }

    article {
        grid-column: span 1;
        margin-top: 2rem;
    }

    aside {
        text-align: center;
        margin-top: 1rem;
    }
}